[project]
	description = HA Distributed System to transactionally move data from Sources (eg Kafka) to Sinks ( eg Hadoop HDFS )
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Steve Morin (smorin)
[access "refs/for/refs/*"]
	read = group user/Steve Morin (smorin)
	push = group user/Steve Morin (smorin)
	label-Code-Review = -2..+2 group user/Steve Morin (smorin)
	label-Verified = -1..+1 group user/Steve Morin (smorin)
	rebase = group user/Steve Morin (smorin)
	removeReviewer = group user/Steve Morin (smorin)
	submit = group user/Steve Morin (smorin)
[access "refs/heads/*"]
	read = group user/Steve Morin (smorin)
	create = group user/Steve Morin (smorin)
	push = +force group user/Steve Morin (smorin)
	pushMerge = group user/Steve Morin (smorin)
[access "refs/tags/*"]
	push = +force group user/Steve Morin (smorin)
	pushTag = group user/Steve Morin (smorin)
	pushSignedTag = group user/Steve Morin (smorin)
